<div class="container-fluid">
  <h3>{{ 'ajouter assure' | titlecase }}</h3>
  <form >

    <div class="form-group">
      <label >Id</label>
      <input  disabled name="id" [(ngModel)] = "assure.id"   type="text" class="form-control"/>
  {{ assure.id }}
    </div>
    <div class="form-group">
      <label >Nom</label>
      <input   name="nom" [(ngModel)] = "assure.nom"   type="text" class="form-control "/>
{{ assure.nom }}
    </div>
    <div class="form-group">
      <label >Matricule</label>
      <input required type="number" [class.is-invalid]="mat.invalid && mat.touched" #mat="ngModel" name="matricule" [(ngModel)] = "assure.matricule" class="form-control" />
      <p *ngIf="mat.invalid && mat.touched"> matricule invalide </p>
    </div>
    <button (click)="creer()" >ajouter</button>

  </form>

</div>
