<div class="container-fluid">
<button class="btn" (click)="findAll()" >get Persons</button>
<button class="btn" (click)="create()" >+</button>
  <ul>
    <li *ngFor="let person of liste;even as isPaire"
        [class]="isPaire?'paire':'impaire'" >
      <span >{{ person.id }}</span>
      <span >{{ person.nom }}</span>
      <span >    {{ person.matricule }}</span>
      <button (click)="delete(person.id)" >X</button>
    </li>
  </ul>

</div>
